.button{
    border-radius: 5px;
    border: 1px solid #FFF;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: all .5s;
}
.button svg{
    fill: var(--black);
    transition: all .5s;
}

.primary{
    border-color: var(--white);
    color: var(--white);
    background: var(--primary);
}

.primary svg, .ghost:hover svg {
    fill: var(--white);
}
.primary:hover{
    background: var(--primary-hover);
}

.ghost{
    border-color: var(--grey);
    color: var(--black);
    background: var(--white);
}
.ghost:hover{
    color: var(--white);
    background: var(--primary-hover);
}

.ghost svg{
    fill: var(--black);
}

.arrow{
    display: inline-block;
    margin-left: 10px;
}

.arrow_down{
    transform: rotate(90deg);
}